---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    My name is Nuzul Fikrie Salam from Malaysia, worked as a fullstack
    developer, experienced in developing web applications,automations and server
    configuration.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor Of Electrical Engineering (Hons) Electronics"
      subtitle="[2008] to [2012] at Universiti Teknologi MARA (UiTM), Shah Alam, Selangor, Malaysia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Test Process Engineer"
      subtitle="From 2014 to 2019 at NXP, Petaling Jaya PJ, Malaysia"
    >
      In charge of test process, experienced in using ATE and test process
      automation, developed manufacturing applications.
    </TimeLineElement>
    <TimeLineElement
      title="CTO at Grounded Learning Malaysia"
      subtitle="From 2019 to 2022"
    >
      Helped in product development, in charge of IT infra, and
      development.Created web applications for the company to use.
    </TimeLineElement>
    <TimeLineElement
      title="Tech lead,full stack developer at The Eagle Center Malaysia"
      subtitle="From 2022 to Present at The Eagle Center, Seri Kembangan, Malaysia"
    >
      In charge of IT infra, and development.Created web applications for the
      company to use ,migrated apps from AWS to Azure.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.credly.com/badges/72392661-e285-42c5-8cee-fde5cfeb689d/public_url"
        target="_blank"
      >
        Microsoft Certified: Azure Administrator Associate (Issued by Microsoft
        )</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/earner/earned/badge/8a6a58be-a9e9-46e2-af52-05eb56ce23a0"
        target="_blank"
      >
        Microsoft Certified: Azure Security Engineer Associate (Issued by
        Microsoft )</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/ea930bb1-c0b5-4649-a1b1-1918f9a37c82"
        target="_blank"
      >
        Microsoft Certified: Azure Solutions Architect Expert (Issued by
        Microsoft )</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>PHP</li>
    <li>Python</li>
    <li>Javascripts</li>
    <li>Shell scripts</li>
    <li>Azure</li>
    <li>AWS</li>
    <li>Linux Servers</li>
  </ul>
</BaseLayout>
